@using USP.Business.Controllers.Pages
@using USP.Business.Models.ContentModels
@inherits UmbracoViewPage<PageResetPassword>
@if (Model == null)
{
    return;
}

@using (Html.BeginUmbracoForm<PageResetPasswordController>("HandleResetPassword"))
{
    <div class="form__check">
        @if (!string.IsNullOrEmpty(Model.LabelEmail))
        {
            @Html.LabelFor(model => model.EmailAddress, Model.LabelEmail)
        }
        @Html.TextBoxFor(model => model.EmailAddress)
        @Html.ValidationMessageFor(model => model.EmailAddress)
    </div>
    <div class="form__check">
        @if (!string.IsNullOrEmpty(Model.LabelPassword))
        {
            @Html.LabelFor(model => model.Password, Model.LabelPassword)
        }
        @Html.PasswordFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>
    <div class="form__check">
        @if (!string.IsNullOrEmpty(Model.LabelConfirmPassword))
        {
            @Html.LabelFor(model => model.ConfirmPassword, Model.LabelConfirmPassword)
        }
        @Html.PasswordFor(model => model.ConfirmPassword)
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
    </div>

    <div class="alert alert-primary" role="alert">
        <i class="icon-exclamation_fill c-usp-orange"><span class="sr-only">Alert icon</span></i>
        <div>
            <p>Your password must:  </p>
            <ul class="mb-0">
                <li>Have at least 8 characters.</li>
                <li>Use at least one letter.</li>
                <li>Use at least one number.</li>
            </ul>
        </div>
    </div>

    if (!string.IsNullOrEmpty(Model.TextResetPasswordButton))
    {
        <p>
            <input type="submit" class="btn btn-inline" value="@Model.TextResetPasswordButton">
        </p>
    }
}


