@using USP.Business.Constants
@using USP.Business.Extensions
@model USP.Business.Models.ViewModels.SignupViewModel

<li class="signin" role="menuitem"><a href="#"><i class="icon-account" aria-hidden="true"></i> @library.GetDictionaryItem(SiteConstants.UmbracoDictionaryKey.ApplyButton.SignInButton)</a>
    <ul>
        <li><a href="@Model.ApplicationUrl">@library.GetDictionaryItem(SiteConstants.UmbracoDictionaryKey.ApplyButton.ContinueApplicationMenuText)</a></li>

        @if (Model.Settings != null && !Model.Settings.SigninLinks.IsNullOrEmpty())
        {
            foreach (var link in Model.Settings.SigninLinks)
            {
                <li><a href="@link.Link" @Html.NewWindow(link.NewWindow)>@link.Caption</a></li>
            }
        }
    </ul>
</li>