@using USP.Business.Constants
@using USP.Business.Extensions
@using USP.Business.Models.ContentModels
@using HtmlHelperTExtensions = USP.Business.Extensions.HtmlHelperTExtensions
@inherits UmbracoViewPage<USP.Business.Models.ContentModels.WidgetCarouselSpotlight>

@if (Model == null)
{
    return;
}

<section class="spotlight__section bg-usp-navi">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="spotlight__wrapper" data-elements="2">
                    @RenderSpotlights(Model.LeftSpotlights, Model.LeftSpotlightTitle)
                    @RenderSpotlights(Model.RightSpotlights, Model.RightSpotlightTitle)
   
                </div><!-- end spotlight__wrapper -->

            </div>
        </div>
    </div>
</section>   

@helper RenderSpotlights(IEnumerable<DataSpotlightItem> spotlightItems, string spotlightTitle)
{
    var list = spotlightItems.ToList();

    if (!list.IsNullOrEmpty())
    {
        <div class="spotlight__component" role="banner" aria-label="spotlight banner">
            <h2>@spotlightTitle</h2>
            <div class="desktop-carousel mb-0">
                @foreach (var item in list)
                {
                    var page = item.Page.FirstOrDefault() as IBaseContentBanner;
                    if (page != null)
                    {
                        @* Show Cut down Preview in DTGE*@
                        if (Request.QueryString["dtgePreview"] == "1")
                        {
                            <div>[Page: @page.Id] @page.BannerHeading</div>
                            continue;
                        }

                        var overlay = "teal";
                        if (page.Overlay != null)
                        {
                            overlay = page.Overlay.ToString().ToLower();
                        }

                        <div class="spotlight">
                            <p class="mb-0 filter filter--@overlay">
                                @Html.LazyImage(page.BannerImage, SiteConstants.Crops.CropSpotlightSecondary)
                            </p>
                            <div class="spotlight__description">
                                <h3 class="mb-10">@page.BannerHeading</h3>
                                <p class="mb-20">
                                    @page.BannerSummary
                                </p>
                                <a href="@page.Url" class="btn btn--blue btn--animated">
                                    <span class="wrapper">
                                        @item.CTacopy
                                    </span>
                                </a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <!-- spotlight component -->
    }
}