@using ClientDependency.Core.Config
@using USP.Business.Controllers.Pages
@using USP.Business.Extensions
@inherits UmbracoViewPage
@{
    //var instanceVersion = 3.1;
    var instanceVersion = ClientDependencySettings.Instance.Version;
}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
    @Html.Action("Seo", "Seo")
    <title>@(Model.GetPropertyValue<string>("navigationTitle"))</title>

    <link rel="stylesheet" href="/assets/css/critical.css?cdv=@instanceVersion" />
    <link rel="preload" href="/assets/css/base/base.css?cdv=@instanceVersion" as="style" onload="this.onload = null; this.rel = 'stylesheet';" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CQuicksand:400,700" rel="preload" as="style" onload="this.onload = null; this.rel = 'stylesheet';">
    <noscript>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700&7CQuicksand:400,700" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/base/base.css?cdv=@instanceVersion">
        <link rel="stylesheet" href="/assets/css/noscript.css?cdv=@instanceVersion">
    </noscript>

    @Html.Action("RenderAnalyticsScript", "Script")
   
</head>
<body data-nav-path=",@(UmbracoContext.Current.PublishedContentRequest.PublishedContent.Path)," data-doctype="@UmbracoContext.Current.PublishedContentRequest.PublishedContent.ContentType.Alias" data-versioning="@instanceVersion">
   
    @Html.Action("Cookies", "CookiePolicy")

    <header class="header">
        <nav class="menu">
            @Html.Action("Navigation", "Navigation")
            <ul class="menu__tertiary" role="menubar">
                <li role="menuitem" class="mobile-only"><a href="/" class="menu__logo--mobile"><img src="/assets/img/logo.png" alt="logo"></a></li>

                @Html.Action("SignUp", "Navigation")

                <li role="menuitem"><a class="header-search-btn" href="@Umbraco.GetSearchUrl()"><i class="icon-search" aria-hidden="true"></i> @library.GetDictionaryItem("Global Search.Labels.SearchMenuText")</a></li>

                @Html.Action("RenderApply", "Navigation")
            </ul>
        </nav>
        @Html.Action("RenderGlobalSearch", "Navigation")
    </header>
    <main id="mainContent">
        @RenderBody()
    </main>

    @Html.Action("RenderFooter", "Footer")
    <script src="/assets/js/vendors/jquery.js?cdv=@instanceVersion"></script>
    <script src="/assets/js/vendors/jquery.validate.min.js?cdv=@instanceVersion"></script>
    <script src="/assets/js/vendors/jquery.validate.unobtrusive.min.js?cdv=@instanceVersion"></script>
    <script src="https://kingsora.github.io/_framework/js/jquery.overlayScrollbars.js?cdv=@instanceVersion"></script>
    <script src="/assets/js/vendors/jquery.history.min.js?cdv=@instanceVersion"></script>
    <script src="/assets/js/vendors/cssrelpreload.js?cdv=@instanceVersion"></script>
    <script src="/assets/js/vendors/loadCSS.js?cdv=@instanceVersion"></script>

    <script src="/assets/js/app.js?cdv=@instanceVersion"></script>
    <script defer src="/assets/js/components.js?cdv=@instanceVersion"></script>

    @RenderSection("PageScript", false)

</body>
</html>
