﻿@using ClientDependency.Core.Config
@using USP.Business.Controllers.Pages
@using USP.Business.Extensions
@inherits UmbracoViewPage
@{
    //var instanceVersion = 3.1;
    var instanceVersion = ClientDependencySettings.Instance.Version;
}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    @Html.Action("Seo", "Seo")
    <title>@(Model.GetPropertyValue<string>("navigationTitle"))</title>
    <link rel="stylesheet" href="/assets/css/critical.css?cdv=@instanceVersion" />
    <link rel="preload" href="/assets/css/base/base.css?cdv=@instanceVersion" as="style" onload="this.onload = null; this.rel = 'stylesheet';" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CQuicksand:400,700" rel="preload" as="style" onload="this.onload = null; this.rel = 'stylesheet';">
    <noscript>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700&7CQuicksand:400,700" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/base/base.css?cdv=@instanceVersion">
        <link rel="stylesheet" href="/assets/css/noscript.css?cdv=@instanceVersion">
    </noscript>

    @*USP-1_14/12/2020 Begin*@
    <link href="/assets/css/global_page_layout.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
    @*USP-1_14/12/2020 End*@

    @Html.Action("RenderAnalyticsScript", "Script")
</head>
<body data-nav-path=",@(UmbracoContext.Current.PublishedContentRequest.PublishedContent.Path)," data-doctype="@UmbracoContext.Current.PublishedContentRequest.PublishedContent.ContentType.Alias" data-versioning="@instanceVersion">
    @*USP-1_14/12/2020 Begin*@
    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function helpSubMenu() {
            document.getElementById("helpDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn') && !event.target.matches('.sideMenuOption')) {
                var dropdowns = document.getElementsByClassName("newDropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

        function increaseText() {
            $('#decreaseText').removeClass('activeSideMenu');
            if ($("body").hasClass("usp-resize-font-115") == false &&
                $("body").hasClass("usp-resize-font-120") == false &&
                $("body").hasClass("usp-resize-font-125") == false) {
                $('body').addClass('usp-resize-font-115');
            }
            else if ($("body").hasClass("usp-resize-font-115") == true) {
                $('body').removeClass('usp-resize-font-115');
                $('body').addClass('usp-resize-font-120');
            }
            else if ($("body").hasClass("usp-resize-font-120") == true) {
                $('body').removeClass('usp-resize-font-120');
                $('body').addClass('usp-resize-font-125');
            }
            $('#increaseText').addClass('activeSideMenu');
        }
        function decreaseText() {
            $('#increaseText').removeClass('activeSideMenu');
            if ($("body").hasClass("usp-resize-font-115") == true) {
                $('body').removeClass('usp-resize-font-115');
            }
            else if ($("body").hasClass("usp-resize-font-120") == true) {
                $('body').removeClass('usp-resize-font-120');
                $('body').addClass('usp-resize-font-115');
            }
            else if ($("body").hasClass("usp-resize-font-125") == true) {
                $('body').removeClass('usp-resize-font-125');
                $('body').addClass('usp-resize-font-120');
            }
            $('#decreaseText').addClass('activeSideMenu');
        }
        function normalText() {
            if ($("body").hasClass("usp-readable-font") == false) {
                $('body').addClass('usp-readable-font');
                $('#normalText').addClass('activeSideMenu');
            }
            else {
                $('body').removeClass('usp-readable-font');
                $('#normalText').removeClass('activeSideMenu');
            }
        }
        function darkBackGround() {
            $('#lightBackground').removeClass('activeSideMenu');
            if ($("body").hasClass("usp-high-contrast") == false) {
                $('body').removeClass('usp-light-background');
                $('body').addClass('usp-high-contrast');
                $('#darkBackGround').addClass('activeSideMenu');
            }
            else {
                $('body').removeClass('usp-high-contrast');
                $('#darkBackGround').removeClass('activeSideMenu');
            }
        }
        function lightBackground() {
            $('#darkBackGround').removeClass('activeSideMenu');
            if ($("body").hasClass("usp-light-background") == false) {
                $('body').removeClass('usp-high-contrast');
                $('body').addClass('usp-light-background');
                $('#lightBackground').addClass('activeSideMenu');
            }
            else {
                $('body').removeClass('usp-light-background');
                $('#lightBackground').removeClass('activeSideMenu');
            }
        }
        function resetAll() {
            $('body').removeClass('usp-resize-font-115');
            $('body').removeClass('usp-resize-font-120');
            $('body').removeClass('usp-resize-font-125');
            $('body').removeClass('usp-readable-font');
            $('body').removeClass('usp-high-contrast');
            $('body').removeClass('usp-light-background');
            $('.sideMenuOption').removeClass('activeSideMenu');
        }
    </script>
    @*USP-1_14/12/2020 End*@
    @Html.Action("Cookies", "CookiePolicy")

    <header class="header">
        <nav class="menu">
            @Html.Action("Navigation", "Navigation")
            <ul class="menu__tertiary" role="menubar">
                <li role="menuitem" class="mobile-only"><a href="/" class="menu__logo--mobile"><img src="/assets/img/logo.png" alt="logo"></a></li>
                @Html.Action("SignUp", "Navigation")
                <li role="menuitem"><a class="header-search-btn" href="@Umbraco.GetSearchUrl()"><i class="icon-search" aria-hidden="true"></i> @library.GetDictionaryItem("Global Search.Labels.SearchMenuText")</a></li>
                @Html.Action("RenderApply", "Navigation")
            </ul>
        </nav>
        @*@Html.Action("RenderGlobalSearch", "Navigation")*@
        <div class="header-search">
            <form class="search" role="search" method="get" action="/search/">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-right">
                            <a class="header-search-close" href="#"><i class="icon-close" aria-hidden="true"></i> Close</a>
                        </div>
                    </div>
                    <div class="row align-items-end">
                        <div class="col-md-6">
                            <div class="form__check mb-0">
                                <label for="single-select" class="form__check__label">Search For</label>
                                <p class="select-wrapper">
                                    <select id="single-select">
                                        <option value="/search/">Everything</option>
                                        <option value="/careers-and-courses/">Courses and careers</option>
                                    </select>
                                </p>
                            </div>
                        </div><!-- end col-md-6 -->
                        <div class="col-md-6">

                            <div class="hero-search__form" role="search">
                                <div class="search mb-0">
                                    <label for="global-search"><span class="sr-only">Search For</span></label>
                                    <input type="search" autocomplete="off" id="global-search" name="term" placeholder="Search for course or career" data-predictive="/umbraco/api/PredictiveSearch/getresults">
                                    <input class="btn btn--inline" type="submit" id="btn-global-search" value="Find">
                                </div>
                                <div class="hero-search__results hidden">

                                </div>
                            </div>

                        </div><!-- end col-md-6 -->

                    </div>
                </div>
            </form>
        </div>
    </header>

    <main id="mainContent">
        @RenderBody()
    </main>

    @Html.Action("RenderFooter", "Footer")
    <script src="/assets/js/vendors/jquery.js?cdv=@instanceVersion"></script>
    <script src="/assets/js/vendors/jquery.validate.min.js?cdv=@instanceVersion"></script>
    <script src="/assets/js/vendors/jquery.validate.unobtrusive.min.js?cdv=@instanceVersion"></script>
    <script src="https://kingsora.github.io/_framework/js/jquery.overlayScrollbars.js?cdv=@instanceVersion"></script>
    <script src="/assets/js/vendors/jquery.history.min.js?cdv=@instanceVersion"></script>
    <script src="/assets/js/vendors/cssrelpreload.js?cdv=@instanceVersion"></script>
    <script src="/assets/js/vendors/loadCSS.js?cdv=@instanceVersion"></script>

    <script src="/assets/js/app.js?cdv=@instanceVersion"></script>
    <script defer src="/assets/js/components.js?cdv=@instanceVersion"></script>

    @RenderSection("PageScript", false)
    @*USP-1_14/12/2020 Begin*@
    <script type="text/javascript">
        $(function () {
            $('body').on("click", function () {
                if ($("#flying-focus").hasClass("flying-focus_visible")) {
                    $("#flying-focus").removeClass("flying-focus_visible");
                };
            });
        });
    </script>

    <div class="newDropdown">
        <button onclick="helpSubMenu()" class="dropbtn fa fa-wheelchair"></button>
        <div id="helpDropdown" class="newDropdown-content">
            <a href="#" class="sideMenuOption" id="increaseText" onclick="increaseText(); return false;"><i class="fa fa-search-plus fafa-space"></i>Increase Text</a>
            <a href="#" class="sideMenuOption" id="decreaseText" onclick="decreaseText(); return false;"><i class="fa fa-search-minus fafa-space"></i>Decrease Text</a>
            <a href="#" class="sideMenuOption" id="normalText" onclick="normalText(); return false;"><i class="fa fa-font fafa-space"></i>Normal Font</a>
            <a href="#" class="sideMenuOption" id="darkBackGround" onclick="darkBackGround(); return false;"><i class="fa fa-share-square fafa-space"></i>Dark Background</a>
            <a href="#" class="sideMenuOption" id="lightBackground" onclick="lightBackground(); return false;"><i class="fa fa-share-square-o fafa-space"></i>Light Background</a>
            <a href="#" class="sideMenuOption" id="reset" onclick="resetAll(); return false;"><i class="fa fa-refresh fafa-space"></i>Reset</a>
        </div>
    </div>
    @*USP-1_14/12/2020 End*@
</body>
</html>

